@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.MainFont{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.MainFontBold{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.TitleFont{
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.blue{
  background-color: #A8DADC;
}

.snowWhite{
  color : #FFFAFA !important;
}

.iceBlue{
  background-color: #A8DADC;
}

.bgImg{
  background-image: url(../public/assets/image/projectSection.png);
  background-repeat: no-repeat;
  /* background-color: white; */
}

/**************** PROJECT SECTION CSS ******************/
.projectBackground{
  background-color: #1D3E06;
  opacity: 100%;
}

.firstTab{
  background-color: #EC4E20;
}
.secondTab{
  background-color: #87B37A;
}
.thirdTab{
  background-color: #7D6D61;
}